# Core functionality - changes here should be rare!
/src/app.py                   @ElizabethRoseOPLR
/src/backend/database.py      @ElizabethRoseOPLR
/src/backend/routers/auth.py  @ElizabethRoseOPLR

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ElizabethRoseOPLR
